@model IEnumerable<Rawela.Models.Product>
@{
    ViewBag.Title = "Carpinteria";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.portfolio-link').click(function () {
            console.info('click');
            var id = $(this).data('id');
            $.ajax({
                method: 'Get',
                url: '/home/details/',
                data:{id :id}
            }).done(function () {
                console.info('done');
            });

        });
    });

  
</script>
<section id="portfolio">
    <div class="container" style="text-align:center">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="padding-bottom:3%">Nuestros Productos</h2>
                @*<hr class="glyphicon glyphicon-star">*@
            </div>
        </div>
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-sm-4 portfolio-item">
                    <a href="/Home/details/@product.Id" class="portfolio-link" data-toggle="lightbox" data-id="@product.Id">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </div>
                        <img id="img" src="~/Content/Image/@product.file" class="img-responsive img-fluid" alt="Cabin">
                    </a>
                </div>
            }
        </div>
        @Html.ActionLink("Más Productos", "Products", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    </div>
</section>
@*@Html.Partial("_Portafolio")*@

@Html.Partial("_About")
@*@Html.Partial("_Contact", new Rawela.ViewModels.MailViewModel.SendMailViewModel())*@
@*@Html.Partial("_footer")*@