@model IEnumerable<Rawela.Models.Product>
@{
    ViewBag.Title = "Carpinteria";
}
@*<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="padding-bottom:3%">Nuestros Productos</h2>
                <hr class="glyphicon glyphicon-star">
            </div>
        </div>
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </div>
                        <img id="img" src="~/Content/Photo/@product.file" class="img-responsive" alt="Cabin">
                    </a>
                </div>
            }
        </div>
    </div>
</section>*@
@Html.Partial("_Portafolio")
@Html.Partial("_About")
@*@Html.Partial("_Contact", new Rawela.ViewModels.MailViewModel.SendMailViewModel())*@
@*@Html.Partial("_footer")*@